/*
 * SPDX-FileCopyrightText: 2022 Catppuccin
 *
 * SPDX-License-Identifier: Unlicense
 */

{
  "QToolTip": {
    "color": "#c0caf5",
    "background-color": "#1a1b26",
    "border": "1px solid #7aa2f7"
  }
}
